<div class="container-fluid">
  <div id="book-back">
    <div class="row">
      <div class="col-md-6 column-style" id="left-page">
        <h1 class="recipe-title-font">Recipes</h1>
        <ul>
          <% @recipes_left.each do |r_left| %>
            <li class="recipe-index-list"><a href="/recipes/<%=r_left.id%>"><%=r_left.title%></a></li>
          <%end%>
        </ul>
      </div>

      <div class="col-md-6 column-style-two" id="right-page">
        <ul>
          <% @recipes_right.each do |r_right| %>
            <li class="recipe-index-list"><a href="/recipes/<%=r_right.id%>"><%=r_right.title%></a></li>
          <%end%>
        </ul>
      </div>

    </div> <!-- row -->
  </div> <!-- book-back -->
</div> <!-- container -->