<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 id="user-edit-h1">Edit User Info</h1>
      <div id="user-info-div">
        <div id="inner-user-info-div">
          <%= link_to @user.name, @user, id: "user-editpage-show-btn" %><br><br>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>