<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1 class="user-edit-h1">New User</h1>
      <div class="user-info-div">
        <div class="inner-user-info-div">
          <%= render 'form' %>
        </div>
      </div>

    </div>
  </div>
</div>