<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div id="user-div">
        <div id="user-info">
          <h1 id="user-title">Chef <%=@cur_user.name%>'s Recipes</h1>
          <div class="list-group">
            <% @recipes.each do |recipe| %>
              <%= link_to recipe.title, recipe_path(recipe), class: "list-group-item user-lists" %>
            <%end%>
          </div>
        </div>
      </div>
    </div> <!-- col-md-12 -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-md-12">
      <div id="user-edit-div">
        <% if @cur_user.id == session[:user_id] %>
          <%= link_to 'Edit Profile', edit_user_path(@user), id: "user-edit-btn", class: "btn btn-default" %>
        <%end%>
      </div>
    </div>
  </div> <!-- row -->

</div> <!-- container -->