// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-recipe {
  font-size: 50px;
  float: right;
  padding: 10px;
}

#search-recipe:hover {
  background-color: #F8C176;
  border-radius: 25px;
}

.search {
  display: inline;
}

::-webkit-scrollbar {
    display: none;
}

dd {
  font-size: 18px;
  padding-left: 5%;
  font-family: 'Playball', cursive;
}

#create-recipe {
  width: 50%;
  height: 200px;
  margin: 0 auto;
}

.btn-default:hover {
  opacity: .5;
}

.user-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-size: 20px;
}

.nav-style {
  font-size: 20px;
}

#recipes {
  background-image: url("rounded-recipe-book2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  height: 500px;
}

#chefs {
  background-image: url("rounded-chef.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  min-height: 500px;
}

#body {
  background-color: #D28218;
  font-family: 'Open Sans', sans-serif;

}

#navigation {
  background-color: rgb(174, 115, 49);
  border: 1px solid rgb(174, 115, 49);
}

.home-titles {
  display: inline;
  font-size: 66px;
  padding-top: 10px;
  font-family: 'Playball', cursive;
  text-decoration: underline;
}

.home-list {
  font-size: 20px;
  padding-top: 10px;
  font-weight: 700;
  background: rgba(0,0,0,.1);
  border: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.recipe-chef {
  margin-left: 10%;
  overflow: scroll;
  height: 500px;
}

.badge {
  background-color: #D28218;
  color: #FFCD82;
  padding-left: 10px;
  margin-left: 5px;
}

.homepage-lists {
  font-size: 20px;
  padding-top: 10px;
  font-weight: 700;
  background: rgba(0,0,0,.1);
  border: none;
  line-height: 1.42857143;
}

a.homepage-lists:hover {
  background-color: rgba(248,199,117,.1);
  background-image: url("small_spoon_list.png");
  background-repeat: no-repeat;
  opacity: .5;
  color: #177E2C;
}

#create-btn {
  margin-top: 20px;
  font-family: 'Playball', cursive;
  font-size: 50px;
  background-image: url("the-knife.jpg");
  background-repeat: no-repeat;
  border: none;
  font-weight: bold;
  line-height: .6;
  width: 93%;
  height: 168px;
  border-radius: 25px;
}

.user-nav {
  color: black;
}

.glyphicon-log-in {
  color: black;
  font-size: 20px;
}

.glyphicon-user{
  color: black;
  font-size: 20px;
}